/**************** Fonts *****************************/

@font-face {
    font-family: "Nunito_Sans";
    src: url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  }
  
  @font-face {
    font-family: "Nunito_Sans_bold";
    src: url(../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf);
  }
  
  @font-face {
    font-family: "NunitoSans_Bold";
    src: url(../fonts/Rubik/static/NunitoSans-Bold.ttf);
  }
  
  @font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
  }
/*************** Colors *******************/
:root {
    --black: #000000;
    --primary: #327039; /*green*/
    --secondary: #552e11;
    --blublack: #2b578de6;
    --grey: #00000029;
    --greyBg: #FBFBFB;
    --greyBrdr: #DBDBDB;
    --themeColor:#a2743c;
    --secondary2: #ffead1;
}
/**************** Basic Style *****************************/
body {
    background: #f9f6f1;
    color: var(--blublack);
    direction: ltr;

}
.block{
    display: block;
}

.left-side-menu,
.navbar-custom {
    background: var(--blublack);
}
.page-title-main {
    color: #fff;
}
a {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}
a:hover,
a:focus {
    color: var(--secondary);
}
.left.side-menu {
    background: var(--themeColor);
}
.pro-user-name.ml-1 {
    color: var(--greyBg);
}
.topbar .topbar-left .logo {
    line-height: 70px;
    display: block;
    height: 70px;
}
.topbar .topbar-left .logo img {
    max-height: 100%;
    object-fit: contain;
}
.topbar .topbar-left , .navbar-default{
    border-top-color: var(--secondary);
}
.navbar-default{
    background-color:var(--themeColor);
}
.page-title , .button-menu-mobile{
    color: var(--secondary2);
}
.button-menu-mobile:hover ,
.button-menu-mobile:focus {
    color: var(--secondary);
}
.user-box i.text-dark {
    color: var(--primary) !important;
    margin-left: 10px;
}
#sidebar-menu ul ul a{
    color: var(--greyBg);
}
#sidebar-menu > ul > li > a {
    color: #ffead1;
    background-color: transparent;
}
#sidebar-menu > ul > li > a:active,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:hover,
#sidebar-menu > ul > li > a.active, 
#sidebar-menu > ul > li.active > a {
    color: #ffead1 !important;
    border-right: 3px solid var(--secondary);
}
#sidebar-menu .subdrop {
    border-right: 3px solid var(--secondary);
    color:#ffead1!important;
}
.user-box ul li a:hover, #sidebar-menu ul ul li.active a, #sidebar-menu ul ul a:hover {
    color: #ffead1;
}
.label-purple {
    background-color: var(--primary) ;
}
.content-page {
    margin-top: 80px;
}
.card-box p.text-muted.font-14.mb-3 {
    margin: 10px auto;
    text-align: center;
}
.btn-info {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.btn-info:hover,
.btn-info:focus {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
}
.btn-primary {
    background-color: #d0b280 !important ;
    border-color: var(--blublack) !important;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: var(--secondary) !important;
    border-color: var(--secondary) !important;
    color: #fff;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.page-item.active .page-link {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
table h6.btn.btn-success.btn-circule {
    margin-top: 0;
}
table.dataTable{
    width: 100% !important;
    max-width: 100% !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before{
    background-color: var(--primary);
}
.navbar-custom .button-menu-mobile{
    color: var(--greyBg);
}
table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
    border-right-width: 1px;
    border-left-width: 0px;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 1px;
}
.btn-danger {
    color: #fff !important;
}
form .form-actions {
    text-align: center;
}
form .form-actions .btn ,
form .form-group .btn ,
.form-group .btn {
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    min-width: 120px;
    display: table;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--greyBg);
}
table.dataTable > tbody > tr.child ul.dtr-details > li {
    display: flex;
    justify-content: space-between;
}
.dtr-data {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
}
.dtr-data .btn {
    margin-left: 3px;
    margin-bottom: 3px;
    margin-top: 0;
}
.swal2-icon.swal2-warning {
    color: var(--primary);
    border-color: var(--primary);
}
button.swal2-confirm.btn-warning.swal2-styled{
    background-color: var(--primary);
    border-color: var(--primary);
}
button.swal2-confirm.btn-warning.swal2-styled:hover , button.swal2-confirm.btn-warning.swal2-styled:focus{
    background-color: var(--black);
    border-color: var(--black);
}
a.btn.btn-success.btn-circule {
    color: #fff !important;
}
a.dropdown-item.notify-item {
    cursor: pointer;
}
.input-group-btn , .col-xs-12.aligne-center.contentbtn{
    position: relative;
    font-size: 0;
    white-space: nowrap;
    text-align: center;
}
.input-group-btn .btn , .col-xs-12.aligne-center.contentbtn .btn{
    min-width: 120px;
}
.form-horizontal .control-label {
    text-align: right;
}
.card-box a.input-group-btn {
    margin: 14px auto !important;
    display: table;
}
.logo_im{
    width: 100px;
    object-fit: contain;
}
/*********** LOGIN *************************************/
.authentication-bg .btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    max-width: 210px;
}
.account-pages {
    background: url(../images/big/layer3.png) no-repeat bottom left;

    background-size: 40% 80%;
}
.btn-bordred.btn-custom {
    background-color: var(--primary);
    border-bottom: 2px solid var(--primary) !important;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .btn-custom.focus, .btn-custom:active, .btn-custom:focus, .btn-custom:hover, .open > .dropdown-toggle.btn-custom {
    background-color: var(--blublack) !important;
    border: 1px solid var(--blublack) !important;
}
.wrapper-page .card-box {
    background-color: rgba(255, 255 ,255 , .6);
}
.authentication-bg .btn-primary:hover,
.authentication-bg .btn-primary:focus{
    background-color: var(--black);
    border-color: var(--black);
}
.authentication-bg a.text-muted.ml-1{
    color: var(--primary) !important;
}
.authentication-bg a.text-muted.ml-1:hover,
.authentication-bg a.text-muted.ml-1:focus{
    color: var(--black) !important;
}
body.authentication-bg {
    background: url('../images/traveling.png') no-repeat bottom left;
    background-size: contain;
    position: relative;
}
.authentication-bg .card {
    background-color: rgb(255 255 255 / 60%);
    box-shadow: 0 2px 3px 5px rgb(234 234 234 / 60%);
    color: var(--black);
}
.authentication-bg .account-pages {
    margin: 0 !important;
    height: 100% !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
/**********************************************************************/
/******************** Responsive *********************************/
@media (max-width: 991px){
    .account-pages {
        background-size: contain;
    }
}
@media (max-width: 767.98px){
    table .btn {
        padding: 4px 6px;
        font-size: 13px;
        margin: 0 0 3px 3px;
    }
    .dataTables_wrapper .dataTables_filter {
        text-align: center!important;
    }
}

/* =================== modfication ==================== */
/* .content-input-fontawsome{
    display: flex;
    align-items: center;
} */
.content-input-fontawsome span{
    margin-right: 5px;
    font-size: 16px;
    color: var(--themeColor);
}
.btn-block {
    width: 60%;
    margin: auto;
}
div.dataTables_filter, div.dataTables_paginate {
    text-align: left;
    margin: 12px auto;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.waves-ripple {
    background-color: #552e110f !important;
}
.navbar-left {
    float: left!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   
    border: 0;
}
.tabsLinkDuty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    border-bottom: 0;
}
.tabsLinkDuty > li {
    margin-bottom: 0;
}
.tabsLinkDuty > li > a  {
    text-decoration: none;
    background-color: #d0b28045;
    border: 0 !important;
}
.tabsLinkDuty > li > a:focus, .tabsLinkDuty > li > a:hover , .tabsLinkDuty > li.active > a ,  .tabsLinkDuty > li.active > a:hover { 
   border: 0 !important;
    background-color: var(--themeColor);
}
.Rides tr td , .Rides tr th{
    background-color: #d9e2f3 ;
    text-align: left;
}
.Health.health1 tr td , .Health.health1 tr th{
    background-color:#ffe598 !important;
    
}
.TechServices tr td , .TechServices tr th{
    background-color:#d9e2f3 !important
}

.Maintenance tr td , .Maintenance tr th{
    background-color:#dac8fd !important
}
.SkillGames tr td , .SkillGames tr th{
    background-color:#d0cece !important
}
.redFlag tr td , .redFlag tr th{
    background-color:#fbe4d5 !important
}
tr th {
    text-align: left;
    font-weight: bold;
    color: #000;
    font-size: 15px;
}
.mt-4 {
    margin-top: 16px;
}
.mt-5{
    margin-top: 20px;
}
.redFlags {
    font-weight: bold;
}
.tableRedFlag td{
    color:red ;
}
.align-center{
    text-align: center !important;
}
td.yes.yesImportant{
    background-color: #c6efce !important;
}
td.no.noImportant{
    background-color: #ffc7ce !important;
}
.yes.yesImportant .card-box{
    background-color: #c6efce !important;
}
.no.noImportant .card-box{
    background-color: #ffc7ce !important;
}
.bold{
    font-weight: bold;
}
.contentRide{
    padding: 20px;
    box-shadow: 0 0px 8px 0 rgb(0 0 0 / 6%), 0 1px 0px 0 rgb(0 0 0 / 2%);
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    background-clip: padding-box;
    margin-bottom: 20px;
    background-color: #fff;
}
textarea.editTextArea {
    width: 100%;
    background-color: yellow;
}
.yelloBack{
    background-color: yellow;
    padding: 0 10px;
}
.tableDates th{
    background-color: #cccc;

}
.tableDates tr td{
    background-color: #fff;
}
td.redflagTd{
    background-color: #ffc7ce !important;
}
.content-input-fontawsome{
    position: relative;
}
.iconInput{
    position: absolute;

}
.iconInput {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 9;
}
.content-input-fontawsome input{
    text-indent: 13px;
}
span.select2{
    border: 1px solid #E3E3E3;
    padding: 7px 12px;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
}
span.select2.select2-container.select2-container--bootstrap {
    direction: ltr !important;
}
.select2-results__option[aria-selected] {
    text-align: left;
    color: #565656;
}
.select2-search--dropdown .select2-search__field {
    text-align: left;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 0px;
    padding-left: 0px;
}
body {
    font-family: "Nunito_Sans";

  }
  span.select2.select2-container.select2-container--bootstrap{
    width: 100% !important;
    background-color: #fff;
  }
  .formSection{
    background-color: #f2eadd;
    padding: 7px;
    margin-bottom: 15px;
  }
  .mtButton{
    margin-top: 20px;
  }
  .tab-content {

    border-top: 2px solid #eeeeee;
}
.datatableTabs{
    margin-top: 15px;
}
div#datatable-buttons_filter {
    position: absolute;
    right: 10px;
    top: 0;
    margin: 0;
}
table.dataTable {
    width: 100% !important;
    max-width: 100% !important;
    background: #f8f8f8;
    margin-top: 15px;
}
table.dataTable td{
    background: #f8f8f8
}
@media (max-width: 1450px) {}

@media (max-width: 1050px) {}
@media (max-width: 767px) {
    div#datatable-buttons_filter {
        position: relative;
        right: unset;
        top: 0;
        margin: 0;
    }
}